/* FONT-FAMILY */

@font-face {
    font-family: 'Titulos';
    src: url(../font/Moldyen.otf);
}

@font-face {
    font-family: 'Textos';
    src: url(../font/IBMPlexSerif-Regular.ttf);
}

/* NAVBAR */

.navbar {
    background-color: #ddb892;
    position:fixed;
        top:0;
        display:none;
}

.f-nav{  /* To fix main menu container */
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.boton {
    margin-right: 3%;
}

.titulo {
    margin-left: 3%;
    margin-right: 40%;
    font-size: 1.4em;
    color: black;
}

.titulo:hover {
    color: black;
}

.links {
    margin-left: 3%;
}

.letras_nav {
    font-family: 'Titulos';
}

/* TEXTO INICIO */

.titulo_inicio {
    font-family: 'Titulos';
    font-size: 3em;
    color: #DDB892;
    -webkit-text-stroke: 1.5px #9C6644;
}

.border_inicio {
    border-bottom: 2px solid #9C6644;
}

.texto_inicio {
    font-size: 1.2em;
    font-family: 'Textos';
}

/* SERVICIOS */

.div_servicios {
    background-color: #DDB892;
}

.titulo_servicios {
    font-family: 'Titulos';
    font-size: 3em;
    color: #9C6644;
    -webkit-text-stroke: 0.75px #9C6644;
}

.border_servicios {
    border-bottom: 2px solid #9C6644;
}

.texto_servicios {
    font-size: 1.2em;
    font-family: 'Textos';
    color: white;
}

.card_ser {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-family: 'Titulos';
    text-align: center;
    color: #9C6644;
}

.card-text {
    font-family: 'Textos';
}

.boton-serv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titulos';
    background-color: #9C6644;
}

/* NOSOTROS */

.map {
    display: flex;
    justify-content: center;
    align-content: center;
}

.mapa {
    width: 400px;
    height: 400px;
}

.div_contacto {
    background-color: #9C6644;
}